@charset "UTF-8";

ul {
  list-style: none;
  text-align: center;
}

li {
  float: left;
  margin-right: 30px;
}


.category {
  text-decoration: none;
  text-align: center;
  font-size: 13px;
  color: rgb(146, 146, 146);
}

a:hover {
  color: black;
}

table td, tr{
  font-size: 13px;
  text-align: center;
}

table { /* 반응형 */
table-layout: fixed;
}

table .titleTd { /* 반응형 */
text-overflow: ellipsis;
overflow: hidden;
white-space: nowrap;
}

td a, #head{
  text-decoration: none;
  color: black;
}

#head:hover, .title:hover{
  text-decoration: underline;
}

/* 페이지네이션 */
.page_wrap {
  text-align: center;
}

.page_nation {
  display: inline-block;
}


.page_nation a:not(#first):not(#last)  {
  display: block;
  margin: 0 3px;
  float: left;
  width: 28px;
  height: 28px;
  line-height: 28px;
  font-size: 13px;
  color: #999;
  text-decoration: none;
}

.page_nation a:hover{
  background-color: #f9f9f9; 
  color: #555; 
  border: 1px solid #aaa; 
  border-radius: 2px;
}

.tap:hover{
  text-decoration: underline;
}

#first, #last{
  color: black;
  display: block;
  margin: 0 3px;
  float: left;
  line-height: 28px;
  font-size: 13px;
  text-decoration: none;
}

#write{
  float: right;
  text-decoration: none;
  color: black;
  border: 1px solid lightgray;
  background-color: white;
  border-radius: 2px;
  padding: 5px;
  font-size: 13px;
}

#search, #searchBtn, #search_type{
  position: relative;
  top: 0;
  border-style: none;
  background-color: white;
  font-size: 13px;
}
#search{
  width: 130px;
  font-size: 13px;
}
.searchBox{
  border: 1px solid lightgray; 
  display: inline-block; 
  border-radius: 2px;
  height: 28px;
}

/*top버튼*/
#topBtn {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 999;
  cursor: pointer;
}

.margin{
  margin: 0 12vw 0 12vw;
}

.fa-solid{
  color: rgb(41, 184, 250);
}