@charset "UTF-8";

#head {
	text-decoration: none;
	color: rgb(207, 147, 111);
}

ul {
	list-style: none;
	text-align: center;
}

li {
	float: left;
	margin-right: 30px;
}

.category {
	text-decoration: none;
	text-align: center;
	font-size: 13px;
	color: rgb(146, 146, 146);
}

a:hover {
	color: black;
}

table td, tr {
	font-size: 13px;
	text-align: center;
}

td a, #tap {
	text-decoration: none;
	color: black;
}

#tap {
	font-size: 13px;
}

#head:hover {
	text-decoration: underline;
}

/* 페이지네이션 */
.page_wrap {
	text-align: center;
}

.page_nation {
	display: inline-block;
}

.page_nation a:not(#first):not(#last) {
	display: block;
	margin: 0 3px;
	float: left;
	width: 28px;
	height: 28px;
	line-height: 28px;
	font-size: 13px;
	color: #999;
	text-decoration: none;
}

.page_nation a:hover {
	background-color: #f9f9f9;
	color: #555;
	border: 1px solid #aaa;
	border-radius: 2px;
}

.tap:hover, #tap:hover, .comment_delete:hover, .comment_modify:hover,
	#comment_close:hover {
	text-decoration: underline;
}

.postInfo {
	font-size: 12px;
	float: right;
}

.postBar {
	border-top: 1px solid lightgray;
	border-bottom: 1px solid lightgray;
	padding: 10px;
}

.postBar2 {
	border-bottom: 1px solid rgb(238, 237, 237);
	padding: 10px;
}

#listBtn {
	font-size: 13px;
	border: 1px solid lightgray;
	border-radius: 2px;
	background-color: whitesmoke;
	width: 340px;
	height: 22px;
}

#replyNumDiv {
	font-size: 13px;
	border: 1px solid lightgray;
	border-radius: 5px;
	padding: 10px;
}

#replyWrite {
	font-size: 13px;
	border: 1px solid lightgray;
	border-radius: 5px;
	padding: 15px;
}

#comment_content {
	width: 100%;
	height: 85px;
	border: 1px solid lightgray;
	border-radius: 3px;
	padding: 5px;
}

#loginComment {
	width: 100%;
	height: 85px;
	border: 1px solid lightgray;
	background-color: #e7e7e9;
	color: #999;
	border-radius: 3px;
	padding: 5px;
	cursor: pointer;
}

#modify_content {
	width: 60vw;
	height: 85px;
	border: 1px solid lightgray;
	border-radius: 3px;
	padding: 5px;
	font-size: 13px;
}

.commentBox {
	padding: 10px;
	border-bottom: 1px solid lightgray;
	position: relative;
}

.comment_Nk, .comment_Date, .comment_content {
	font-size: 13px;
}

.comment_content {
	margin: 0;
}

.comment_Date {
	color: #999;
	padding: 10px;
}

.comment_delete, .comment_modify, #comment_close {
	float: right;
	font-size: 13px;
	text-decoration: none;
	color: #555;
	background-color: white;
	border-style: none;
}

.comment_modify, #modifyPost, .postInfo {
	margin-right: 10px;
}

#first, #last {
	color: black;
	display: block;
	margin: 0 3px;
	float: left;
	line-height: 28px;
	font-size: 13px;
	text-decoration: none;
}

#modifyPost, #removePost {
	float: right;
	text-decoration: none;
	color: black;
	border: 1px solid lightgray;
	border-radius: 2px;
	padding: 5px;
	font-size: 13px;
	background-color: white;
}

#write {
	float: right;
	text-decoration: none;
	color: black;
	border: 1px solid lightgray;
	background-color: white;
	border-radius: 2px;
	padding: 5px;
	font-size: 13px;
}

i {
	color: rgb(43, 133, 250);
}

#search, #searchBtn, #search_type {
	position: relative;
	top: 0;
	border-style: none;
	background-color: white;
	font-size: 13px;
}

#search {
	width: 130px;
	font-size: 13px;
}

.searchBox {
	border: 1px solid lightgray;
	display: inline-block;
	border-radius: 2px;
	height: 28px;
}

#registerBtn {
	font-size: 13px;
	border: 1px solid rgb(177, 176, 176);
	border-radius: 4px;
	background-color: white;
	width: 60px;
	height: 60px;
}

#modifyCommentBtn {
	position: absolute;
	top: 34%;
	right: 3%;
	font-size: 13px;
	border: 1px solid rgb(177, 176, 176);
	border-radius: 4px;
	background-color: white;
	width: 60px;
	height: 60px;
}

/*top버튼*/
#topBtn {
	display: none;
	position: fixed;
	bottom: 30px;
	right: 30px;
	z-index: 999;
	cursor: pointer;
}

/* 반응형 */
.contentSm {
	overflow-y: scroll;
}

table {
	table-layout: fixed;
}

table .titleTd, .smContentRow {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.smContentRow {
	padding: 0px;
	font-size: 12px;
	color: grey;
}

.searchBoxSm {
	border: 1px solid lightgray;
	display: inline-block;
	border-radius: 2px;
	height: 28px;
}

#seachSelectSm {
	border: 1px solid lightgray;
}

#searchInputSm {
	position: absolute;
	border: 1px solid lightgray;
}

.margin {
	margin: 0 12vw 0 12vw;
}

.fa-solid {
	color: rgb(41, 184, 250);
}